<!DOCTYPE html>
<html>

<head>
    <title> Moonboard </title>
</head>

<body style="background-color: lightblue;">
    <h1 style="text-align:center;">Moonboard Lights</h1>
    <form action="/problem" method="post">
        <select name="Grade" id="Grade">
            <option value="6a+">6a+</option>
            <option value="6b">6b</option>
            <option value="6b+">6b+</option>
            <option value="6c">6c</option>
            <option value="6c+">6c+</option>
            <option value="7a">7a</option>
            <option value="7a+">7a+</option>
            <option value="7b">7b</option>
            <option value="7b+">7b+</option>
            <option value="7c">7c</option>
            <option value="7c+">7c+</option>
            <option value="8a">8a</option>
            <option value="8a+">8a+</option>
            <option value="8b">8b</option>
            <option value="8b+">8b+</option>
        </select>
        <select name="sort" id="sort">
            <option value="rating">Rating</option>
            <option value="repeats">Repeats</option>
        </select>
        <input type="submit">
    </form>
</body>

</html>