<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Problems</title>
  <style>
    .box {
      margin-bottom: 15px;
      width: 100%;
      text-align: left;
      font-size: 15px;
    }

    .content {
      padding: 18px;
      display: none;
      overflow: hidden;
      background-color: lightgreen;
    }

    .collapsible {
      background-color: green;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }
  </style>
</head>

<body style="background-color: lightblue;">
  <h1 style="text-align: center;">Problems</h1>
  <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
  {% for prob in problem_list %}
  <div class="box">
    <button type="button" class="collapsible">{{ prob["name"] }}</button>
    <div class="content">
      <form action="/setproblem" method="post" target="dummyframe">
        <input type="hidden" name="problem" value="{{ prob }}">
        <button type="submit">Set Problem</button>
      </form>
      <p>Repeats {{ prob["repeats"] }}</p>
      <p>Rating {{ prob["userRating"] }}</p>
    </div>
  </div>

  {% endfor %}

  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
  </script>
</body>

</html>